<div th:fragment="header-fragment">
	<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
		<nav>
			<a class="py-2 link-body-emphasis text-decoration-none" href="/" style="margin-right: 40px;">Main Page</a>
			<a class="py-2 link-body-emphasis text-decoration-none" href="/blog" style="margin-right: 40px;">Blog</a>
			<a class="py-2 link-body-emphasis text-decoration-none" href="/blog/add" style="margin-right: 40px;">Add article</a>
			<a class="py-2 link-body-emphasis text-decoration-none" href="/order" style="margin-right: 40px;">Order</a>
			<a class="py-2 link-body-emphasis text-decoration-none" href="/about">About us</a>
		</nav>
	</div>
</div>